html {
    font-size: 100px;
}
@media (min-width: 480px) {
    html {
        font-size: 110px !important;
    }
}
@media (min-width: 640px) {
    html {
        font-size: 120px !important;
    }
}
@media (min-width: 720px) {
    html {
        font-size: 130px !important;
    }
}
body,html{height:100%;}
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, b, u, i, dl, dt, dd, ol, ul, li, fieldset, legend, form, label, article,
aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust : none ;/*静止横屏竖屏下的字体变化*/
    -moz-text-size-adjust : none ;
    -ms-text-size-adjust : none ;
    text-size-adjust : none
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section{display: block;clear:both;}
body{position:relative; top:0; bottom: 0; left:0; right:0;min-width:320px; font:.12rem/1.5 Microsoft Yahei,sans-serif; color:#333;background:#ededed;}
article{height:100%;}
section{position:relative;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
ul,ol{list-style:none;margin:0; padding:0;}
img{width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
li>a{display: block;}
a {color: #333; outline: none; text-decoration: none; }
a:active{color: inherit; }
a.active{ color: #37c7fd}
em,i,address{ font-style: normal; }
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none;}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button;}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent;}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0;}
blockquote,q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: '';}
.clx:after{ clear: both; display: block; height: 0; visibility: hidden; content: "";}
.clx{*zoom: 1; }
.arrow:before {content: "";display: inline-block;width: 6px;height: 6px;vertical-align: middle;border-left: 1px solid #fff;border-bottom: 1px solid #fff;-webkit-transform: rotate(-135deg);transform: rotate(-135deg);box-sizing: border-box;margin-bottom: 1.5px;}
.fl{float:left;}
.fr{float:right;}